<% if @over_ten %>
  <%= link_to 'すべてのメッセージ', '?m=all' %>
<% end %>

<% @messages.each do |message| %>
  <% if message.body %>
    <% user = User.find(message.user_id) %>
    <%= user.name %></strong> <%= message.message_time %>
    <%= message.body %>
  <% end %>
<% end %>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <%= f.submit "メッセージ送信" %>
<% end %>
