<%= form_for(@topic) do |f| %>
  <div class="topcic-title-box">
    <%= f.error_messages! %>
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: "form-control",required:true %>
  </div>
  <div class="topcic-content-box">
    <%= f.label :内容 %>
    <%= f.text_area :content, class: "form-control", placeholder: "今なにしてる？",required:true %>
  </div>
  <div class="topcic-submit-box" id="topEditBtnDiv">
    <%= f.submit '投稿する',id:"topEditBtn"%>
  </div>
<% end %>
