<% @topics.each do |topic| %>
  <%= topic.title %>
  <p>投稿者：<%= topic.user.name %></p>
  <%= topic.content %>
  <%= link_to "コメントする", topic_path(topic) %>
  <%= link_to "編集", edit_topic_path(topic.id) %>
  <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除しますか？'}%>
<% end %>
<%= link_to "新規投稿", new_topic_path %>
