<article class="article">
  <h2 class="title">投稿記事</h2>
  <p><%= @topic.user.name %></p>
  <p><%= @topic.title %></p>
  <p><%= @topic.content %></p>
</article>
<h2 class="title">コメント一覧</h2>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
  <% if current_user.id == @topic.user_id %>
    <%= link_to '編集', edit_topic_path(@topic) %> |
  <% end %>
<%= link_to '戻る', topics_path %>
