<div class="user-content">
  <h2 class="title">パスワードのリセット</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードリセットする" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
